{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h1 class="text-dark font-weight-bold display-3">Getting started with Technical Screeners</h1>
				<div class="row mt-4">
					<div class="col-md-6">
						<p class="mb-3">
							A stock screener is one of the most powerful tools that investors use to identify new trading opportunities and potentially profitable investments. Talking about technical stock screeners, they allow you to filter out the stocks based on the technical indicators, the same way as a stock chart. They help in performing in-depth technical analysis in minutes, hence saving a lot of time and effort. 
						</p>
						<h3 class="font-weight-bold">What is technical analysis?</h3>
						<p>
							Technical analysis aims at forecasting the price movement of stocks or any other tradable instrument that is usually subjected to the forces of demand and supply. These trading instruments can include stocks, futures, bonds, currency pairs, etc. 
							<br/><br/>
							The technical analysis takes mainly three factors into consideration while forecasting the price movement — Price, Volume, and Moving Averages. With the help of these factors, you can determine the direction in which your stock or fund is prevailing. 
							<br/><br/>
							Now the question is, how technical analysis is used? 
							<br/>
							To support technical analysis trading, various researchers and trading experts have developed hundreds of signals and patterns across the industry. Besides, there are various software and tools like stock screens that are capable of forecasting the price movement by using various technical indicators. 
						</p>
					</div>
					<div class="col-md-6">
						<img src="/static/images/auth/login-bg.jpg" alt="" width="90%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

</div>

{% endblock %}