{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<h4 class="card-title">Support Tracker</h4>
					<h4 class="text-success font-weight-bold">Tickets<span class="text-dark ml-3">163</span></h4>
				</div>
				<div id="support-tracker-legend" class="support-tracker-legend"></div>
				<canvas id="supportTracker"></canvas>
			</div>
		</div>
	</div>
	<div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="d-lg-flex align-items-center justify-content-between mb-4">
					<h4 class="card-title">Product Orders</h4>
					<p class="text-dark">+5.2% vs last 7 days</p>
				</div>
				<div class="product-order-wrap padding-reduced">
					<div id="productorder-gage" class="gauge productorder-gage"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
		<div class="card">
			<div class="card-body">
				
			</div>
		</div>
	</div>
	<div class="col-sm-6 grid-margin grid-margin-md-0 stretch-card">
		<div class="card">
			<div class="card-body">
				
			</div>
		</div>
	</div>
</div>
{% endblock %}