{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-12 grid-margin stretch-card">
		<div class="card text-center pb-5"
			style="background-color: #f0f3f6; box-shadow: none; padding-top: 10vh; background-image: url(/static/images/bg-hero.png); background-position: top; background-size: 90%; background-repeat: no-repeat;">
			<div class="card-body">
				<h1 class="text-dark font-weight-bold display-2">
					The easiest way to find stocks<br /> based on your requirements
				</h1>
				<p class="mt-4 mb-3" style="line-height: 1.5; max-width: 550px; margin: auto;">
					Select the type of stocks you are interested in and we will give you the best recommendations,
					optimized by Artificial Intelligence and Backtesting.
				</p>
				<form action="/backtest/ranking" method="POST" class="form-basic mt-4" style="max-width: 500px; margin: auto;">
					<div class="form-group">
						<div class="input-group">
							<select class="form-control form-control-lg" placeholder="Index"
							aria-label="Index" style="padding: 0.875rem 1.375rem" name="index">
								<option value="" disabled selected>
									-- Select an index --
								</option>
								{% for index in indices %}
								<option value="{{ index }}">
									{{ index }}
								</option>
								{% endfor %}
							</select>
							<div class="input-group-append">
								<button class="btn btn-sm btn-primary" type="submit">Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-md-6">
						<h2 class="text-dark font-weight-bold display-3">
							Wondering what these recommendations are based on?
						</h2>
					</div>
					<div class="col-md-6 text-dark">
						<p style="line-height: 1.5;">
							In case you are wondering, what these recommendations are based on, we backtest <span
								class="font-weight-bold">300+</span> company data with <span
								class="font-weight-bold">10+</span> strategies and then sort them according to return
							just for you. Also we use our Machine Learning Algorithms to optimise the variables in the
							strategies, so you have very less things to worry about.
						</p>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-md-3">
						<i class="mdi mdi-radar icon-lg text-primary"></i>
						<h3 class="text-dark font-weight-bold mt-2 mb-3">
							How we create recommendations
						</h3>
						<p class="text-dark">
							The recommendations are not from our side or from any other company. We use machine learning
							algorithms and deep backtesting techniques on stocks data to create recommendations for our
							customers.
						</p>
					</div>
					<div class="col-md-3">
						<i class="mdi mdi-poll icon-lg text-primary"></i>
						<h3 class="text-dark font-weight-bold mt-2 mb-3">
							Are these market predictions?
						</h3>
						<p class="text-dark">
							We are not making any market predictions, we are applying backtesting techniques on the
							<span class="text-danger">past few weeks' data</span> of the companies to come up with the
							best suited investments.
						</p>
					</div>
					<div class="col-md-3">
						<i class="mdi mdi-truck icon-lg text-primary"></i>
						<h3 class="text-dark font-weight-bold mt-2 mb-3">
							How we deliver the best recommendations
						</h3>
						<p class="text-dark">
							This application is thoroughly designed to compare 10+ available strategies to come up with
							the best stocks based on your requirements.
						</p>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 text-center mt-4 mb-2">
						<h2 class="font-weight-bold display-3 text-dark">Backtesting and Analysis</h2>
					</div>
					<div class="col-md-6 text-center pt-5 pb-5 justify-content-between">
						<h3 class="font-weight-bold text-dark">Quick Analysis</h3>
						<p>
							For quick analysis of the stocks of any company, just select the company name from the dropdown below and get a small analysis of it.
						</p>
						<form action="/backtest/visualization" method="POST" class="form-basic mt-4" style="max-width: 500px; margin: auto; text-align: left;">
							<div class="form-group">
								<label for="company">Company</label>
								<select class="form-control" placeholder="Company name"
									aria-label="Company name" name="company">
									<option value="" disabled selected>-- Select a company --</option>
									{% for key in company %}
										<option value="{{ key }}">
											{{ company[key] }}
										</option>
									{% endfor %}
								</select>
							</div>
							<button type="submit" class="btn btn-primary mr-2 btn-block">Submit</button>
						</form>
					</div>
					<div class="col-md-6 text-center pt-5 pb-5">
						<h3 class="font-weight-bold text-dark">Custom Backtesting</h3>
						<p>
							In case you want to do some backtesting yourself you can select the company and the
							strategy and rest we will handle.
						</p>
						<form action="/backtest/strategy" method="POST" class="form-basic mt-4" style="max-width: 500px; margin: auto; text-align: left;">
							<div class="form-group">
								<label for="company">Company</label>
								<select class="form-control" placeholder="Company name"
									aria-label="Company name" name="company">
									<option value="" disabled selected>-- Select a company --</option>
									{% for key in company %}
										<option value="{{ key }}">
											{{ company[key] }}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="company">Strategy</label>
								<select class="form-control" placeholder="Strategy name"
									aria-label="Strategy name" name="strategy">
									<option value="" disabled selected>-- Select a Strategy to Backtest --</option>
									{% for key in strategy %}
										<option value="{{ key }}">{{ key }}</option>
									{% endfor %}
								</select>
							</div>
							<button type="submit" class="btn btn-primary mr-2 btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}