{% extends "base.html" %}

{% block content %}

<div class="row mt-4">
	<div class="col-lg-8 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-4">
						<h4 class="card-title">Highest Return %</h4>
						<canvas id="salesDifference" style="display: block; width: 251px; height: 125px;"
							class="chartjs-render-monitor" width="251" height="125"></canvas>
						<p class="mt-3 mb-4 mb-lg-0">
							Top stocks with the highest Return Percentage.
						</p>
					</div>
					<div class="col-lg-5">
						<h4 class="card-title">Trending sectors</h4>
						<div class="row">
							<div class="col-sm-4">
								<ul class="graphl-legend-rectangle">
									<li><span class="bg-primary"></span>Automotive</li>
									<li><span class="bg-danger"></span>Technology</li>
									<li><span class="bg-info"></span>Financial</li>
									<li><span class="bg-warning"></span>Real Estate</li>
								</ul>
							</div>
							<div class="col-sm-8 grid-margin">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class=""></div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class=""></div>
									</div>
								</div>
								<canvas id="bestSellers" style="display: block; width: 204px; height: 102px;"
									class="chartjs-render-monitor" width="204" height="102"></canvas>
							</div>
						</div>
						<p class="mt-3 mb-4 mb-lg-0">
							Trending sectors to invest in today.
						</p>
					</div>
					<div class="col-lg-3">
						<h4 class="card-title">Best Sharpe Ratio</h4>
						<div class="row">
							<div class="col-sm-12">
								<div class="progress progress-lg grouped mb-2">
									<div class="progress-bar  bg-danger" role="progressbar" style="width: 32%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									<div class="progress-bar bg-info" role="progressbar" style="width: 21%"
										aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									<div class="progress-bar bg-warning" role="progressbar" style="width: 30%"
										aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									<div class="progress-bar bg-success" role="progressbar" style="width: 17%"
										aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
							<div class="col-sm-12">
								<ul class="graphl-legend-rectangle">
									<li><span class="bg-danger"></span>MCFT(32%)</li>
									<li><span class="bg-warning"></span>NFLX (30%)</li>
									<li><span class="bg-info"></span>TSLA (21%)</li>
									<li><span class="bg-success"></span>YAMAHA (17%)</li>
								</ul>
							</div>
						</div>
						<p class="mb-0 mt-2">
							Stocks with the best risk-adjustment returns.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 flex-column d-flex stretch-card">
		<div class="row flex-grow">
			<div class="col-sm-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-8">
								<h3 class="font-weight-bold text-dark">Microsft (MSFT)</h3>
								<p class="text-dark">Analysed by AI</p>
								<div class="d-lg-flex align-items-baseline mb-3">
									<h1 class="text-dark font-weight-bold">33<sup
											class="font-weight-light"><small>%</small><small
												class="font-weight-medium"></small></sup></h1>
									<p class="text-muted ml-3">Return</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="position-relative">
									<div class="live-info badge badge-success">Stock of the day</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 mt-4 mt-lg-0">
								<div class="bg-primary text-white px-4 py-4 card">
									<div class="row">
										<div class="col-sm-6 pl-lg-5">
											<h2>$247.3</h2>
											<p class="mb-0">Previous close</p>
										</div>
										<div class="col-sm-6 climate-info-border mt-lg-0 mt-2">
											<h2>$328.1</h2>
											<p class="mb-0">Day's Close</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 grid-margin-stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Day Gainers</h4>
				<p class="card-description">
					Showing top <code class="font-weight-bold">70</code> gainers of the day.
				</p>
				<div class="table-responsive auto-index">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="font-weight-bold">
									#
								</th>
								<th class="font-weight-bold">
									Symbol
								</th>
								<th style="width: 25%;" class="font-weight-bold">
									Name
								</th>
								<th class="font-weight-bold">
									Price (Intraday)
								</th>
								<th style="width: 25%;" class="font-weight-bold">
									% Change
								</th>
								<th class="font-weight-bold">
									Market Cap
								</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in company.items %}
							<tr>
								<!-- Symbol -->
								<td class="py-1">
									{{ forloop.counter }}
								</td>
								<td>
									{{ key }}
								</td>
								<td>
									{{ value }}
								</td>
								<td>
									$ 77.99
								</td>
								<td>
									<div>
										<div
											class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
											<p class="text-success">79%</p>
										</div>
										<div class="progress progress-md">
											<div class="progress-bar bg-success" role="progressbar" style="width: 85%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</td>
								<!-- <td>
						<div class="progress">
						  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					  </td> -->
								<td>
									4.761B
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}