{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-4 flex-column d-flex stretch-card">
		<div class="row flex-grow">
			<div class="col-sm-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-start align-items-center mb-1 max-width-progress-wrap">
							<img src="/static/images/avatar.png" alt="profile" height="60px" class="mr-3"/>
							<h3 class="text-dark font-weight-bold">
								User Profile
							</h3>
						</div>
						<p class="mt-4 mb-4">
							<span class="font-weight-bold"> Name: </span>{{ request.username }}<br/>
							<span class="font-weight-bold"> Country: </span>{{ request.country }}
						</p>
						<form action="/strategy" method="POST" class="form-basic mt-4" style="max-width: 500px; margin: auto; text-align: left;">
							<div class="form-group">
								<label for="company">Company</label>
								<select class="form-control" placeholder="Company name"
									aria-label="Company name" name="company">
									<option value="" disabled selected>-- Select a company --</option>
									{% for key in company %}
										<option value="{{ key }}">
											{{ company[key] }}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="company">Strategy</label>
								<select class="form-control" placeholder="Strategy name"
									aria-label="Strategy name" name="strategy">
									<option value="" disabled selected>-- Select a Strategy to Backtest --</option>
									{% for key in strategy %}
										<option value="{{ key }}">{{ key }}</option>
									{% endfor %}
								</select>
							</div>
							<button type="submit" class="btn btn-primary mr-2 btn-block">Backtest</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8 flex-column d-flex stretch-card">
		<div class="row">
			<div class="col-sm-12 grid-margin stretch-card">
				<div class="card pt-4 pb-4">
					<div class="card-body">
						<div class="d-sm-flex justify-content-between align-items-start">
							<div>
								<h4 class="card-title card-title-dash">Chart Title</h4>
								<h5 class="card-subtitle card-subtitle-dash">Chart Description</h5>
							</div>
							<div id="support-tracker-legend" class="support-tracker-legend">
								<ul class="13-legend">
								  <li><span class="legend-box" style="background:#464dee;"></span><span
									  class="legend-label text-dark">Legend 1</span></li>
									<li><span class="legend-box" style="background:#52CDFF;"></span><span
										class="legend-label text-dark">Legend 2</span></li>
								</ul>
							</div>
						</div>
						<div class="chartjs-wrapper mt-5">
							<div class="chartjs-size-monitor">
							  <div class="chartjs-size-monitor-expand">
								<div class=""></div>
							  </div>
							  <div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							  </div>
							</div>
							<canvas id="performaneLine" class="chartjs-render-monitor" width="637" height="250"></canvas>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}