{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-4 flex-column d-flex stretch-card">
		<div class="row flex-grow">
			<div class="col-sm-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-start align-items-center mb-1 max-width-progress-wrap">
							<img src="/static/images/avatar.png" alt="profile" height="60px" class="mr-3"/>
							<h3 class="text-dark font-weight-bold">
								User Profile
							</h3>
						</div>
						<p class="mt-4 mb-4">
							<span class="font-weight-bold"> Name: </span>{{ request.username }}<br/>
							<span class="font-weight-bold"> Country: </span>: XYZ
						</p>
						<form action="/strategy" method="POST" class="form-basic mt-4" style="max-width: 500px; margin: auto; text-align: left;">
							<div class="form-group">
								<label for="company">Company</label>
								<select class="form-control" placeholder="Company name"
									aria-label="Company name" name="company">
									<option value="" disabled selected>-- Select a company --</option>
									{% for key in company %}
										<option value="{{ key }}">
											{{ company[key] }}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label for="company">Strategy</label>
								<select class="form-control" placeholder="Strategy name"
									aria-label="Strategy name" name="strategy">
									<option value="" disabled selected>-- Select a Strategy to Backtest --</option>
									{% for key in strategy %}
										<option value="{{ key }}">{{ key }}</option>
									{% endfor %}
								</select>
							</div>
							<button type="submit" class="btn btn-primary mr-2 btn-block">Backtest</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8 flex-column d-flex stretch-card">
		<div class="row">
			<div class="col-sm-12 grid-margin stretch-card">
				<div class="card text-center pt-4 pb-4">
					<div class="card-body">
						<h1 class="text-dark font-weight-bold display-2">To be added in version 3</h1>
						<p>User's country based data to go here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}