{% extends "base.html" %}

{% block content %}

{% for x in return_array[:15] %}
{% set String = x[0].split('_') %}
<div class="row">

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Company - {{ String[0] }}</h4>
          <button type="button" class="btn btn-outline-success btn-icon-text">
            <i class="mdi mdi-chart-areaspline btn-icon-prepend"></i>
            {{ String[1] }}
          </button>
        </div>
        <div class="card-description">
          Strategy description:
        </div>
        <p>
          <button type="button" class="btn btn-inverse-success btn-fw">Buying Condition</button>
        <ul class="list-arrow">
          {% for x in strategy_description[String[1]]['buy condition'] %}
          <li>
            {{ x }}
          </li>
          {% endfor %}
        </ul>
        <button type="button" class="btn btn-inverse-danger btn-fw">Selling Condition</button>
        <ul class="list-ticked">
          {% for x in strategy_description[String[1]]['sell condition'] %}
          <li>
            {{ x }}
          </li>
          {% endfor %}
        </ul>
        </p>
        <div class="card-title title-primary">
          Overview
        </div>
        {% for i in range(6,13) %}
        {% set j = i-6 %}

        <ul class="list-star">
          <li>{{ outcome_variables[j] }} : <span class="text-dark"></span>{{ '%0.2f'| format(x[1][i]|float) }} </li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Top Picks</h4>
          <h4 class="text-success font-weight-bold">APPL<span class="text-dark ml-3">#1</span></h4>
        </div>
        <div id="support-tracker-legend" class="support-tracker-legend">
          <ul class="13-legend">
            <li><span class="legend-box" style="background:#464dee;"></span><span
                class="legend-label text-dark">Today</span></li>
            <li><span class="legend-box" style="background:#d8d8d8;"></span><span
                class="legend-label text-dark">Yesterday
                Tickets</span></li>
          </ul>
        </div>
        <canvas id="supportTracker" style="display: block; width: 587px; height: 293px;" class="chartjs-render-monitor"
          width="587" height="293"></canvas>
      </div>
    </div>
  </div>

</div>

{% endfor %}

{% endblock %}