{% extends "base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Rank #1 - APPL</h4>
          <button type="button" class="btn btn-outline-success btn-icon-text">
            <i class="mdi mdi-upload btn-icon-prepend"></i>
            3.785%
          </button>
        </div>
        <div class="card-description">
          Strategy in use: SmaCross
        </div>
        <p>
          <button type="button" class="btn btn-inverse-success btn-fw">Buying Condition</button>
        <ul class="list-arrow">
          <li>
            When SMA 10 greater than closing price.
          </li>
        </ul>
        <button type="button" class="btn btn-inverse-danger btn-fw">Selling Condition</button>
        <ul class="list-ticked">
          <li>
            When SMA 20 less than closing price.
          </li>
        </ul>
        </p>

        <div class="card-title title-primary">
          Overview
        </div>
        <ul class="list-star">
          <li>Return [%] - <span class="text-dark">5.9%</span></li>
          <li>Annual Return [%] - <span class="text-dark">4.7%</span></li>
          <li>Sharpe Ratio - <span class="text-dark">1.33</span></li>
          <li>Sortino Ratio - <span class="text-dark">1.7</span></li>
          <li>Calmar Ratio - <span class="text-dark">1.55</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Top Picks</h4>
          <h4 class="text-success font-weight-bold">APPL<span class="text-dark ml-3">#1</span></h4>
        </div>
        <div id="support-tracker-legend" class="support-tracker-legend">
          <ul class="13-legend">
            <li><span class="legend-box" style="background:#464dee;"></span><span
                class="legend-label text-dark">Today</span></li>
            <li><span class="legend-box" style="background:#d8d8d8;"></span><span
                class="legend-label text-dark">Yesterday
                Tickets</span></li>
          </ul>
        </div>
        <canvas id="supportTracker" style="display: block; width: 587px; height: 293px;" class="chartjs-render-monitor"
          width="587" height="293"></canvas>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Rank #2 - HCL</h4>
          <button type="button" class="btn btn-outline-warning btn-icon-text">
            <i class="mdi mdi-upload btn-icon-prepend"></i>
            3.457%
          </button>
        </div>
        <div class="card-description">
          Strategy in use: EMASMARSI
        </div>
        <p>
          <button type="button" class="btn btn-inverse-success btn-fw">Buying Condition</button>
        <ul class="list-arrow">
          <li>
            Weekly RSI(30) ≥ daily RSI(30) > 70
          </li>
          <li>
            Close > MA(10) > MA(20) > MA(50) > MA(100)
          </li>
        </ul>
        <button type="button" class="btn btn-inverse-danger btn-fw">Selling Condition</button>
        <ul class="list-ticked">
          <li>
            Daily close is more than 2 percent below MA(10)
          </li>
          <li>
            8 percent fixed stop loss is hit
          </li>
        </ul>
        </p>

        <div class="card-title title-primary">
          Overview
        </div>
        <ul class="list-star">
          <li>Return [%] - <span class="text-dark">5.4%</span></li>
          <li>Annual Return [%] - <span class="text-dark">4.2%</span></li>
          <li>Sharpe Ratio - <span class="text-dark">1.53</span></li>
          <li>Sortino Ratio - <span class="text-dark">0.9</span></li>
          <li>Calmar Ratio - <span class="text-dark">1.6</span></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Top Picks</h4>
          <h4 class="text-success font-weight-bold">HCL<span class="text-dark ml-3">#2</span></h4>
        </div>
        <div id="support-tracker-legend" class="support-tracker-legend">
          <ul class="13-legend">
            <li><span class="legend-box" style="background:#464dee;"></span><span
                class="legend-label text-dark">Today</span></li>
            <li><span class="legend-box" style="background:#d8d8d8;"></span><span
                class="legend-label text-dark">Yesterday
                Tickets</span></li>
          </ul>
        </div>
        <canvas id="supportTracker2" style="display: block; width: 587px; height: 293px;" class="chartjs-render-monitor"
          width="587" height="293"></canvas>
      </div>
    </div>
  </div>

</div>

{% endblock %}