{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-12 grid-margin stretch-card">
		<div class="card text-center pt-4 pb-4" style="background-color: #f0f3f6; box-shadow: none;">
			<div class="card-body">
				<h1 class="text-dark font-weight-bold display-2">Backtesting Result</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Company - {{ company }}</h3>
				<p class="card-description mb-4">
					Strategy - {{ strategy }}
				</p>

				<p>
					<button type="button" class="btn btn-inverse-success btn-fw">Buying Condition</button>
				<ul class="list-arrow">
					{% for x in strategy_description[strategy]['buy condition'] %}
					<li>
						{{ x }}
					</li>
					{% endfor %}
				</ul>
				<button type="button" class="btn btn-inverse-danger btn-fw">Selling Condition</button>

				<ul class="list-ticked">
					{% for x in strategy_description[strategy]['sell condition'] %}
					<li>
						{{ x }}
					</li>
					{% endfor %}
				</ul>
				</p>

				<div class="card-title title-primary">
					Overview
				</div>

				<ul class="list-star">
					{% for i in range(6,13) %}
					{% with j = i - 6 %}

					<li>{{ outcome_variables[j] }} : <span class="text-dark"></span>{{ '%0.2f'|
						format(company_statistics[i]|float) }} </li>

					{% endwith %}
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
	<div class="col-lg-6 d-flex flex-column">
		<div class="row flex-grow">
			<div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
				<div class="card card-rounded">
					<div class="card-body">
						<div class="d-sm-flex justify-content-between align-items-start">
							<div>
								<h4 class="card-title card-title-dash">Visualized Data</h4>
								<h5 class="card-subtitle card-subtitle-dash">View the plot of SMA and Closing Price over
									the last year</h5>
							</div>
							<div id="performance-line-legend">
								<div class="chartjs-legend">
									<ul style="list-style: none;">
										<li style="list-style: none;"><span
												style="background-color:#525769; padding: 0.3rem;"></span>SMA 10</li>
										<li style="list-style: none;"><span
												style="background-color:#52CDFF; padding: 0.3rem;"></span>Close</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="chartjs-wrapper mt-5">
							<div class="chartjs-size-monitor">
								<div class="chartjs-size-monitor-expand">
									<div class=""></div>
								</div>
								<div class="chartjs-size-monitor-shrink">
									<div class=""></div>
								</div>
							</div>
							<canvas id="performaneLine" style="display: block; width: 637px; height: 350px;"
								class="chartjs-render-monitor" width="637" height="350"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}