{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-12 grid-margin stretch-card">
		<div class="card text-center pt-4 pb-4" style="background-color: #f0f3f6; box-shadow: none;">
			<div class="card-body">
				<h1 class="text-dark font-weight-bold display-2">Visualization</h1>
				<h3 class="card-title">Company - {{ company }}</h3>
				<p class="card-description mb-4">
					Volume - {{ volume }}<br />
					Current Price - {{ closing_price }}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 d-flex flex-column">
		<div class="row flex-grow">
			<div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
				<div class="card card-rounded">
					<div class="card-body">
						<div class="d-sm-flex justify-content-between align-items-start">
							<div>
								<h4 class="card-title card-title-dash">Visualized Data</h4>
								<h5 class="card-subtitle card-subtitle-dash">View the plot of SMA and Closing Price over
									the last few weeks</h5>
							</div>
							<form class="row">
								<div class="col-md-6">
									<div class="form-group text-primary fw-bold">
										<label for="exampleFormControlSelect1">Indicators</label>
										<select class="form-control form-control-lg" id="indicator"
											style="padding: 0.6rem 0.81rem; line-height: 1.5;">
											<option value="SMA">Simple Moving Average</option>
											<option value="EMA">Exponential Moving Average</option>
											<option value="RSI">Relative Strength Index</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group text-success fw-bold">
										<label for="value">Value</label>
										<input type="number" name="value" min="1" max="100"
											class="form-control form-control-sm" id="value">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group text-success fw-bold">
										<label for="value"><br /></label>
										<div class="btn btn-primary btn-block" id="go">Go</div>
									</div>
								</div>
							</form>
						</div>
						<div class="chartjs-wrapper mt-5">
							<div class="chartjs-size-monitor">
								<div class="chartjs-size-monitor-expand">
									<div class=""></div>
								</div>
								<div class="chartjs-size-monitor-shrink">
									<div class=""></div>
								</div>
							</div>
							<canvas id="visualizationGraph" style="display: block; width: 637px; height: 250px;"
								class="chartjs-render-monitor" width="637" height="250"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">

				<h3 class="card-title">Indicators in the last 10 minutes</h3>
				<div class="table-responsive">
					{% for table in tables %}
					{{ table|safe }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	var chart;
	$(document).ready(function () {
		var graphGradient = document.getElementById("visualizationGraph").getContext('2d');
		var graphGradient2 = document.getElementById("visualizationGraph").getContext('2d');
		var GradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
		GradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
		GradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
		var GradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
		GradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
		GradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');

		var Data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
			datasets: [{
				label: 'Close',
				data: "{{ ClosePriceList[:12] }}".split(","),
				backgroundColor: GradientBg,
				borderColor: [
					'#1F3BB3',
				],
				borderWidth: 1.5,
				fill: true, // 3: no fill
				pointBorderWidth: 1,
				pointRadius: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
				pointHoverRadius: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				pointBackgroundColor: ['#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3', '#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3', '#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3', '#1F3BB3)'],
				pointBorderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff',],
			}]
		};

		var Options = {
			responsive: true,
			maintainAspectRatio: false,
			scales: {
				yAxes: [{
					gridLines: {
						display: true,
						drawBorder: false,
						color: "#F0F0F0",
						zeroLineColor: '#F0F0F0',
					},
					ticks: {
						beginAtZero: false,
						autoSkip: true,
						maxTicksLimit: 4,
						fontSize: 10,
						color: "#6B778C"
					}
				}],
				xAxes: [{
					gridLines: {
						display: false,
						drawBorder: false,
					},
					ticks: {
						beginAtZero: false,
						autoSkip: true,
						maxTicksLimit: 7,
						fontSize: 10,
						color: "#6B778C"
					}
				}],
			},
			legend: false,
			legendCallback: function (chart) {
				var text = [];
				text.push('<div class="chartjs-legend"><ul>');
				for (var i = 0; i < chart.data.datasets.length; i++) {
					console.log(chart.data.datasets[i]); // see what's inside the obj.
					text.push('<li>');
					text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
					text.push(chart.data.datasets[i].label);
					text.push('</li>');
				}
				text.push('</ul></div>');
				return text.join("");
			},

			elements: {
				line: {
					tension: 0.4,
				}
			},
			tooltips: {
				backgroundColor: 'rgba(31, 59, 179, 1)',
			}
		}

		chart = new Chart(graphGradient, {
			type: 'line',
			data: Data,
			options: Options
		});

		$("#go").click(function () {
			let indicator = $("#indicator").val();
			let value = $("#value").val();
			console.log(indicator, value);
			$.post(`http://localhost:8000/backtest/graph`, {
				'ClosePriceList': '{{ ClosePriceList }}',
				'indicator': indicator,
				'value': value
			}, function (data, status) {
				var data = data.data;
				data = data.split(",");
				
				console.log(data);
				console.log(chart.data.datasets[1]);
				chart.data.datasets[0].data = data;
				chart.update();
			});
		});

	});
</script>

{% endblock %}